body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/animation/2024/01/11/17/57/17-57-09-141_512.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
